/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.parentmid {
    display: flex;
    align-items: stretch ;
    flex-direction: column;
    gap: 15px;
}

.headermid {
    display: flex;
    align-self: center;
    text-align:center;
    border-bottom: 3px solid #1DB954;
}

.childmid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;


}
.card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
p{
    font-size: 120%;
}
