/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.parentmid {
    display: flex;
    align-items: stretch ;
    flex-direction: column;
    gap: 15px;
}

.headermid {
    display: flex;
    align-self: center;
    text-align:center;
    border-bottom: 3px solid #1DB954;
    font-size: 38px;
}

.childmid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;


}
.card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
p{
    font-size: 120%;
}
html{
    font-family: 'Signika', sans-serif;
}


nav{
  background-color: aliceblue;
  height: 90px;
  position: relative;
  margin-top: 0px;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:aliceblue;
}

li {
  float: right;
}
#spotify-logo{
  float:left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:1.8vw;
}


section{
  position: relative;
  text-align: center;
  
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  margin-top:-35px;
  
}
.centered p{ 
  font-size: 2.4vw;
}
.centered h1{
  font-size: 4.4vw;
}

h1{
  font-size:2.7em;
}

/*Mohamed Hadri Section Start*/
.mhadri-spotify-container{
  background: #00B172;
  padding: 3.8rem 1rem;
  color:#FFF;
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-align:left;
  }
  
  .mhadri-img-container{
      margin: 8%;
     
  }
  .mhadri-img-container img{
  width: 90px;
  
  }
  
  
  .mhadri-card-container img{
   width: 240px;
  }
  
  .mhadri-spotify-text h2{
      display: inline;
      padding: 4px;
      border-bottom: 3px solid #FFF;
  }
  .mhadri-spotify-text h4{
      font-size: 1.2rem;
  }
  
  /* media queries */
  
  @media screen and ( max-width:750px) {
      
      .mhadri-spotify-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
      }
      /*
     .centered p{
       font-size: 0.875em;
       display:flex;
       align-items:center;

      }
      li a{
        font-size:0.875em;
        display:flex;
        flex-wrap: nowrap;
      }*/
  }
